{% include 'top.html' %}
    <div id="content">
        <h1 class="page-title">Search Units</h1>
		<form class="pure-form pure-form-stacked login" method="POST" action="{{ url_for('perform_units_search') }}">

            <h4>Search for all unitofferings which use a particular textbook.</h4>
            <input type="text" name="textbook" placeholder="textbook" min="0" required>

            <br>
            <input class="pure-button pure-button-primary" type="submit" value="Search">
            
        </form>

        <br><br>
        <h4 style="text-align:center;">{{query_text}}</h4>
        <table class="pure-table">
            <thead>
                <tr><th>UOS Code</th><th>Semester</th><th>Year</th><th>Textbook</th><th>Enrollment</th><th>Max Enrollment</th><th>Instructor ID</th></tr>
            </thead>
            <tbody>
                
                {% for unitoffering in unitofferings %}
                    <tr>
						<td> {{unitoffering[0]}}</td>
                        <td> {{unitoffering[1]}} </td>
                        <td> {{unitoffering[2]}} </td>
                        <td> {{unitoffering[3]}} </td>
                        <td> {{unitoffering[4]}} </td>
                        <td> {{unitoffering[5]}} </td>
                        <td> {{unitoffering[6]}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>